window#osd {
  border-radius: 5px;
  border: none;
  background: rgba(0, 0, 0, 0.9);
  min-width: 160px;
  min-height: 10px;
}
  window#osd #container {
    margin: 5px; }
  window#osd image,
  window#osd label {
    color: #288787;
    font-size: 16px;
  }
  window#osd progressbar:disabled,
  window#osd image:disabled {
    opacity: 0.7; }
  window#osd progressbar,
  window#osd segmentedprogress {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none; }
  window#osd trough,
  window#osd segment {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: rgba(61, 166, 147, 0.25); }
  window#osd progress,
  window#osd segment.active {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #288787; }
  window#osd segment {
    margin-left: 8px; }
    window#osd segment:first-child {
      margin-left: 0; }
